In [1]:
import pandas as pd

In [2]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
# series = 1-dimensional

In [5]:
colours = pd.Series(["red", 'blue', 'white'])

In [6]:
colours

0      red
1     blue
2    white
dtype: object

In [8]:
print("OKay...")

OKay...

In [12]:
car_data = pd.DataFrame({"car make": series, "colour": colours})

In [13]:
car_data

  car make colour
0      BMW    red
1   Toyota   blue
2    Honda  white

In [16]:
car_data.to_csv("exported-car-data.csv", index=False)

In [17]:
pd.read_csv("exported-car-data.csv")

  car make colour
0      BMW    red
1   Toyota   blue
2    Honda  white